
@media screen and (min-height: 0px){
#div1{
    margin-top: 20%;
    margin-left: -40%;
    font-size: 40px;
    color: white;
    background: black;
    padding-left: 10px;
    position: relative;
  }

  #ques{
    margin-left: -40%;
    font-size: 15px;
    color: white;
    background: black;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
  }

  #answer{
    color: black;
  }
}

@media screen and (min-height: 575px){
  #div1{
    margin-top: 30%;
    margin-left: -40%;
    font-size: 70px;
    color: white;
    background: black;
    padding-left: 10px;
    position: relative;
  }

  #ques{
    margin-left: -40%;
    font-size: 20px;
    color: white;
    background: black;
    padding-bottom: 20px;
    padding-left: 20px;
    position: relative;
  }

  #answer{
    color: black;
  }
}

.passcode-img{
	width:75px;
	height:75px;
	margin: 10px 10px;
}
.progress-label {
  float: left;
  margin-right: 2px;
}
label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #008080;
}
