RewriteEngine On
RewriteRule ^question/([0-9]+)/?$ index.php?page=question&type=$1 [NC,L]
RewriteRule ^student-management/([0-9]+)/?$ index.php?page=student-management&studentid=$1 [NC,L]
RewriteRule ^student-login/([0-9]+)/?$ index.php?page=student-login&studentid=$1 [NC,L]
RewriteRule ^reports/([0-9]+)/?$ index.php?page=reports&studentid=$1 [NC,L]
RewriteRule ^([A-Za-z0-9-]+)/?$ index.php?page=$1 [NC,L]